body{
    width: 100%;
    min-height: 100vh;
}
.header{
    width: 100%;
    height: auto;
    text-align: center;
    background: slateblue;
}
.header h1{
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}
.header p{
    color: #fff;
    padding-top: 10px;
    font-family: verdana;
}
.main-text{
    padding: 30px 0 0 0;
}

/* media queries for responsivness *//* staircase styling portion */
.stair-header{
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
    text-align: center;
}
.stair-header h1{
    color: slateblue;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}



/* media queries for responsivness */
@media(max-width: 768px){
    div{
        width: 100%;
    }
}